* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  border: 2px solid black;
  padding: 5px 10px;
  border-radius: 5px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.header {
  text-align: center;
  margin: 20px;
  height: 50px;
  width: 100%;
}

.buttons {
  margin: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.button {
  height: 100px;
  width: 100px;
  cursor: pointer;
  border: 2px solid black;
}

#grey { background-color: grey; }
#red { background-color: red; }
#blue { background-color: blue; }
#green { background-color: green; }



.info {
  text-align: center;
  margin: 20px;
  font-size: 20px;
}
