*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(139, 135, 135);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline;
}

.container{
    background-color: rgb(159, 147, 147);
    padding: 30px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     width: 400px;
}
label{
    font-weight: bold;
}
input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button{
    width: 100%;
    padding: 10px;
    background-color: #4428a7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
ul{
    margin-top: 20px;
    padding-left: 20px;
}
l1i{
    margin-bottom: 10px;
}